@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    </br>
    </br>
    </br>
    <h1 class="display-4">Welcome to Taskly</h1>
    <p>Track tasks and work towards finishing goals.</p>
    <a class= "btn btn-primary" asp-controller="Home" asp-action="LogIn" role="button">Get started</a>
</div>
