@{
    ViewData["Title"] = "LogIn";
}
<div class="text-center">
    </br>
    <h3>LogIn or Register an account</h3>
    <form>
        <label>Enter email</label>
        <input class="form-control" placeholder="Email address"/>
        </br>
        <div class="form-group">
            <input type="submit" value="Continue with email" class="btn btn-primary" />
        </div>
    </form>
</div>
